<div class="publisher-list-container">
  <div class="publisher-list-content">


    <div class="add-button">
      <a mat-fab color="primary" aria-label="Adicionar Editora" routerLink="create">
        <mat-icon>add</mat-icon>
      </a>
    </div>

    <form class="publisher-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="publisher-form-field">
        <mat-label>Editora</mat-label>
        <input name="publisherNameFilter" matInput placeholder="Pesquisar editora" [(ngModel)]="publisherNameFilter">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="button">
        Buscar
      </button>
    </form>

    <app-publisher-table [publishers$]="publishers$"></app-publisher-table>
  </div>
</div>
